---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon/components";

const OUR_PROCESS = [
  {
    title: "Lean Planning for Cost-Efficiency",
    description:
      "In this initial phase, we focus on understanding your business goals, target audience, and the unique value proposition of your startup. We establish the project's scope with a keen eye on cost efficiency, ensuring every feature we plan is essential and provides real value.",
    icon: "fluent:calendar-edit-24-regular",
  },
  {
    title: "Iterative Development for Continuous Improvement",
    description:
      "Our development process is agile, allowing for incremental improvements with regular review cycles. This approach means you get to see tangible progress, provide feedback, and we refine the product in real-time, ensuring it evolves with your needs and user feedback.",
    icon: "fluent:code-24-regular",
  },
  {
    title: "Feedback Loops with Stakeholders for Product-Market Fit",
    description:
      "We prioritize communication with all stakeholders, facilitating feedback loops that are vital for aligning the product with market demands. Engaging in active listening, we fine-tune functionalities to ensure the end product resonates with your target users and market fit.",
    icon: "fluent:arrow-clockwise-24-regular",
  },
  {
    title: "Deployment Strategies for Fast Go-to-Market",
    description:
      "Deploying your web application swiftly and securely is crucial. We implement CI/CD pipelines for automated testing and deployment, which accelerates the go-to-market process. Our deployment strategies are designed for startups looking to make an impact quickly and reliably.",
    icon: "fluent:app-recent-24-regular",
  },
  {
    title: " Post-Launch Support and Scaling",
    description:
      "After launch, our commitment continues with performance monitoring, technical support, and scalable updates to meet your growing startup’s needs and user feedback, ensuring seamless evolution of your platform.",
    icon: "fluent:person-support-24-regular",
  },
  {
    title: "Supporting Your Transition to In-House Teams",
    description:
      "As your startup grows, we support your transition to in-house teams by providing comprehensive documentation, knowledge transfer, and training. We ensure a smooth handover, so your team can continue to build on the solid foundation we’ve laid.",
    icon: "fluent:people-community-24-regular",
  },
];

const {
  features = OUR_PROCESS,
  badge = "How We Do It",
  title = "Our Process",
  desc = "An approach that’s tailored to startups – lean, iterative, and feedback-oriented.",
} = Astro.props;
---

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">{badge}</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    {title}
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    {desc}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16 max-w-5xl mx-auto">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size={24} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
